## Provide Input for Start Date and End Date

In [ ]:
#Select the Month for which you want to observe the data
#Option
#xyz test
print("Select the option --> Month in MMM for eg: January as - Jan")
month = input('Month(MMM): ')

Select the option --> Month in MMM for eg: January as - Jan

In [2]:
#Select the Year for which you want to observe the data
#Option
print("Select the option --> Year in YYYY")
year = input('Year(YYYY): ')

Select the option --> Year in YYYY
Year(YYYY): 2022

In [3]:
print("Month Selected: {}\nYear Selected: {}".format(month,year))

Month Selected: Dec
Year Selected: 2022

## Importing the libraries

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
import datetime
import seaborn as sns
from datetime import date
import calendar
from datetime import timedelta
from matplotlib.colors import LinearSegmentedColormap
warnings.filterwarnings('ignore')
import numpy as np

## Loading the Excel File - Converting to CSV and reading them individually

In [5]:
# Read and store content of an excel file 

# We are putting different sheets into seperate Data frame.

xls = pd.ExcelFile("Weekly-Monthly-KPI-{}-{}.xlsx".format(month,year))
df1 = pd.read_excel(xls, 'PagerDuty_Incident')
df2 = pd.read_excel(xls, 'BigPanda_Incident')

# Write the dataframe object into csv file

# Storing PagerDuty Incident data in df1
df1.to_csv("PagerDuty_Incident.csv",
                  index = None,
                  header=True)

# Storing BigPanda Incident data in df2
df2.to_csv("BigPanda_Incident.csv",
                  index = None,
                  header=True)
    
# reading csv file and convert into a dataframe object

df3 = pd.read_csv("PagerDuty_Incident.csv")
df4 = pd.read_csv("BigPanda_Incident.csv")

## Merging both the PagerDuty and BigPanda data in one Dataframe

In [6]:
df = pd.concat([df3,df4])

## Checking total number of rows and columns for dataset

In [7]:
# Identifying total numbers of Columns and Rows
print("Total # of Rows:",df.shape[0])
print("Total # of Columns:",df.shape[1])

Total # of Rows: 219
Total # of Columns: 27

## Copying data to new Dataframe

In [8]:
df11 = df.copy()

## Dropping unwanted Columns

In [9]:
df11.drop(['BigPanda Incident Link','Jira Ticket Updated'], axis = 1,inplace=True)

## Checking the column names

In [10]:
df11.columns

Index(['Jira Ticket ', 'Description', 'Service', 'Location ', 'Priority',
       'Customer Impacted', 'Opened On', 'Incident End', 'First Assignment',
       'Actioned Time', 'Jira Ticket Created', 'Mean time to Detection (MTTD)',
       'Mean time to Engage (MTTE)', 'Time to Escalate ',
       'Mean time to Action (MTTA)', 'Mean time to Reslove (MTTR)',
       'Resolved By User', 'No Action Required', 'Resolved by NOC Engineer',
       'Escalated to SME', 'TSG', 'RCA', 'Total Alerts', 'Incident Start time',
       'Escalated Time'],
      dtype='object')

## Chaning Column Names

In [11]:
df11.columns = ['Jira Ticket','Subject','Product','Location','Priority','Customer Impacted','Date Time','Incident End','First Assignment','Actioned Time', 'Ticket created on','TTD','TTE','TTAE','TTA','TTR','Assignee','NAR','RNE','ETS','TSG','RCA','Total Alerts','Incident Start time',
       'Escalated Time']

## Checking total number of rows and columns for dataset after dropping 2 columns

In [12]:
# Identifying total numbers of Columns and Rows
print("Total # of Rows:",df11.shape[0])
print("Total # of Columns:",df11.shape[1])

Total # of Rows: 219
Total # of Columns: 25

## Observing the Dataset

In [13]:
df11.head()

,Jira Ticket,Subject,Product,Location,Priority,Customer Impacted,Date Time,Incident End,First Assignment,Actioned Time,...,TTR,Assignee,NAR,RNE,ETS,TSG,RCA,Total Alerts,Incident Start time,Escalated Time
0,INC-2640,UDP2 Prod US: Critical - Services Overall - S...,UDP2,US,P4,No Customer Impact,2022-12-01 08:57:00,2022-12-01 09:02:00,2022-12-01 08:57:00,NaN,...,5.0,Ankit Singh,Yes,No,No,No,It was a blip,1,2022-12-01 08:56:00,NaN
1,INC-2649,UDP2 Prod - prod-us-5g-udp2-1: Kafka Consumer ...,UDP2,US,P4,No Customer Impact,2022-12-02 16:15:00,2022-12-02 17:28:00,2022-12-02 16:16:00,2022-12-02 17:23:00,...,73.0,Varsha Rana,No,No,Yes,Yes,SME updated the monitor,2,2022-12-02 16:15:00,NaN
2,INC-2657,Clarity Prod JP: CRITICAL - P3 - 5% Subjects w...,Clarity,JP,P3,24 users (28.23% impacted),2022-12-05 08:14:00,2022-12-05 12:37:00,2022-12-05 08:14:00,NaN,...,263.0,Nitesh Kumar,Yes,No,Yes,Yes,It was a blip,1,2022-12-05 08:13:00,2022-12-05 09:24:00
3,INC-2661,Clarity Prod JP: CRITICAL - P4 - 0.5% Subjects...,Clarity,JP,P4,1 user (0.62% Impacted),2022-12-05 17:37:00,2022-12-05 21:37:00,2022-12-05 17:38:00,NaN,...,240.0,Shadab Tamboli,Yes,No,No,Yes,It was a blip,1,2022-12-05 17:37:00,NaN
4,INC-2664,UDP2 Prod US: Critical - API Gateway - Unable ...,UDP2,US,P4,No Customer Impact,2022-12-06 06:49:00,2022-12-06 06:59:00,2022-12-06 06:49:00,NaN,...,10.0,Pavan K,Yes,No,No,Yes,It was a blip,1,2022-12-06 06:48:00,NaN

## Changing Data to Upper Case - TSG, Product, Location, NAR, RNE, ETS

In [14]:
df11['TSG'] = df11['TSG'].apply(lambda name : name.upper())
df11['Product'] = df11['Product'].apply(lambda name : name.upper())
df11['Location'] = df11['Location'].apply(lambda name : name.upper())
df11['NAR'] = df11['NAR'].apply(lambda name : name.upper())
df11['RNE'] = df11['RNE'].apply(lambda name : name.upper())
#df11['ETS'] = df11['ETS'].apply(lambda name : name.upper())

## Removing Spaces - Product, Priority, Subject, TSG, RCA, Jira Ticket, Customer Impacted and Location

In [15]:
df11.Product = df11.Product.str.replace(" ","")
df11.Priority = df11.Priority.str.replace(" ","")
df11.Location = df11.Location.str.replace(" ","")
df11.TSG = df11.TSG.str.replace(" ","")
df11['Jira Ticket'] = df11['Jira Ticket'].str.strip()
df11['Subject'] = df11['Subject'].str.strip()
df11['Customer Impacted'] = df11['Customer Impacted'].str.strip()
df11['RCA'] = df11['RCA'].str.strip()
df11['NAR'] = df11['NAR'].str.strip()
df11['RNE'] = df11['RNE'].str.strip()
df11['ETS'] = df11['ETS'].str.strip()

## Check dataset information for data handling

In [16]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219 entries, 0 to 129
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Jira Ticket          219 non-null    object
 1   Subject              219 non-null    object
 2   Product              219 non-null    object
 3   Location             219 non-null    object
 4   Priority             219 non-null    object
 5   Customer Impacted    219 non-null    object
 6   Date Time            219 non-null    object
 7   Incident End         219 non-null    object
 8   First Assignment     218 non-null    object
 9   Actioned Time        9 non-null      object
 10  Ticket created on    210 non-null    object
 11  TTD                  219 non-null    int64
 12  TTE                  217 non-null    float64
 13  TTAE                 136 non-null    float64
 14  TTA                  134 non-null    float64
 15  TTR                  219 non-null    float64
 16  Assignee             218 non-null    object
 17  NAR                  219 non-null    object
 18  RNE                  219 non-null    object
 19  ETS                  219 non-null    object
 20  TSG                  219 non-null    object
 21  RCA                  219 non-null    object
 22  Total Alerts         219 non-null    int64
 23  Incident Start time  219 non-null    object
 24  Escalated Time       13 non-null     object
dtypes: float64(4), int64(2), object(19)
memory usage: 44.5+ KB

## Handling Inappropriate Data
### The only thing that will help you to deal with inappropriate data is having enough DOMAIN KNOWLEDGE !!!!

In [17]:
# 1. Identify the type of data for each column --- Numerical, categorical , ordinal
# 2. Check and remove all DUPLICATE RECORDS from the DATAFRAME 
# 3. Check and remove all DUPLICATE COLUMNS from the DATAFRAME
# 4. If your columns are numerical columns, perform the following steps:
#    - If the data is CONTINOUS, check with reference to domain whether the following parameters are valid or not:
#      1. Negative Numbers are allowed or not.
#      2. Positive Numbers are allowed or not.
#      3. Decimals are allowed or just Integers are Expected.
#      
#      If any of the above is not allowed, delete that specific column entry
#
#    - If the data is DISCRETE, check with reference to domain whether the following parameters are valid or not:
#      1. Negative Numbers are allowed or not.
#      2. Positive Numbers are allowed or not.
#      3. Decimals are allowed or just Integers are Expected.
#      4. Check whether the number falls in the specified Range defined by DOMAIN
#      
#      If any of the above is not allowed, delete that specific column entry
#
# 5. If your columns are categorical columns, perform the following:
#      1. Get the unique values of the columns 
#      2. Handle the data which has Spelling Errors, Case Errors (lowercase,uppercase)
#      3. Check whether the groups/categories shown in the unique values match the domain spec.
#          If there exists an unusual category, delete that specific entry
#
# 6. If your columns are Ordinal Column, perform the following,
#      1. Get the unique values of the columns 
#      2. Handle the data which has Spelling Errors, Case Errors (lowercase,uppercase)
#      3. Check whether the groups/categories shown in the unique values match the domain spec.
#          If there exists an unusual category, delete that specific entry
#      4. Check the mathematical weightage of each unique group. Ensure it matches the domain spec
#      5. If no mathematical weightage is present in the colimn, ensure you define the same at metadata level.
#
# 7. Dealing with Date Column (Only for Time Series Analysis)
#      1. Convert date column into datetime datatype
#      2. Ensure your row index is replaced with date column
#
# All the above rules must be backed with DOMAIN SPECs. If Required, add more rules considering the domain reqt.

## 1. Identify the type of data for each column --- Numerical, Categorical , Ordinal, Date and Time

In [18]:
# Identify the type of data for each column --- Numerical, Categorical , Ordinal

# #  Column               Non-Null Count  Dtype            Type
#---  ------               --------------  -----         -----------
# 0   Jira Ticket          71 non-null     object   ---> Categorical
# 1   Subject              71 non-null     object   ---> Categorical
# 2   Product              71 non-null     object   ---> Categorical
# 3   Location             71 non-null     object   ---> Categorical
# 4   Priority             71 non-null     object   ---> Ordinal
# 5   Customer Impacted    71 non-null     object   ---> Categorical
# 6   Date Time            71 non-null     object   ---> Date and Time
# 7   Incident End         71 non-null     object   ---> Date and Time
# 8   First Assignment     71 non-null     object   ---> Date and Time
# 9   Actioned Time        2 non-null      object   ---> Date and Time
# 10  Ticket created on    37 non-null     object   ---> Date and Time
# 11  TTD                  71 non-null     int64    ---> Numerical Continous
# 12  TTE                  71 non-null     int64    ---> Numerical Continous
# 13  TTAE                 71 non-null     int64    ---> Numerical Continous
# 14  TTA                  71 non-null     int64    ---> Numerical Continous
# 15  TTR                  71 non-null     int64    ---> Numerical Continous
# 16  Assignee             71 non-null     object   ---> Categorical
# 17  NAR                  71 non-null     object   ---> Numerical Discrete [0-1]
# 18  RNE                  71 non-null     object   ---> Numerical Discrete [0-1]
# 19  ETS                  71 non-null     object   ---> Numerical Discrete [0-1]
# 20  TSG                  71 non-null     object   ---> Numerical Discrete [0-1]
# 21  RCA                  71 non-null     object   ---> Categorical
# 22  Total Alerts         71 non-null     int64    ---> Numerical Continous
# 23  Incident Start time  28 non-null     object   ---> Date and Time
# 24  Escalated Time       1 non-null      object   ---> Date and Time

#### From the above data we can see that we need to change the Data type of few columns. 
####   Priority             (object   ---> Ordinal )
####   Date Time        (object   ---> Date and Time)

## 2. Check and Remove all DUPLICATE RECORDS from the DATAFRAME

In [19]:
# Check all DUPLICATE RECORDS from the DATAFRAME
df11[df11.duplicated()]

,Jira Ticket,Subject,Product,Location,Priority,Customer Impacted,Date Time,Incident End,First Assignment,Actioned Time,...,TTR,Assignee,NAR,RNE,ETS,TSG,RCA,Total Alerts,Incident Start time,Escalated Time
102,INC-2804,Clarity Prod EU: CRITICAL - P4 - 0.5% Subjects...,CLARITY,EU,P3,157 users (5.16% Impacted),2022-12-21 04:26:00,2022-12-21 07:39:00,2022-12-21 04:27:00,NaN,...,193.0,Jainil Lalaji,YES,NO,No,YES,Observed few spikes which were later subdued,2,2022-12-21 04:26:00,NaN
103,INC-2805,[DE]: g5-dexcom-prod-eu-5 - Cassandra: MemTabl...,UDP,EU,P4,No Customer Impact,2022-12-21 08:40:00,2022-12-21 08:45:00,2022-12-21 08:41:00,NaN,...,5.0,Nirmala Patekar,YES,NO,No,YES,It was a blip,1,2022-12-21 08:40:00,NaN
104,INC-2806,UDP2 Prod EU: Cloudflare 403 Count Above Thres...,UDP2,EU,P4,No Customer Impact,2022-12-21 09:45:00,2022-12-21 09:55:00,2022-12-21 09:46:00,NaN,...,9.0,Shadab Tamboli,YES,NO,No,NO,It was a blip,1,2022-12-21 09:45:00,NaN
105,INC-2806,UDP2 Prod EU: Cloudflare 403 Count Above Thres...,UDP2,EU,P4,No Customer Impact,2022-12-21 12:49:00,2022-12-21 13:06:00,2022-12-21 12:50:00,NaN,...,17.0,Varsha Rana,YES,NO,No,NO,It was a blip,1,2022-12-21 12:49:00,NaN
106,INC-2808,Clarity Prod EU: CRITICAL - P4 - 0.5% Subjects...,CLARITY,EU,P3,214 users (6.7% Impacted),2022-12-21 13:49:00,2022-12-21 15:26:00,2022-12-21 13:50:00,NaN,...,96.0,Varsha Rana,YES,NO,Yes,YES,Pods weren't getting any traffic.,3,2022-12-21 13:49:00,2022-12-21 14:07:00
107,INC-2811,[DE]: g5-dexcom-prod-eu-5 - Cassandra: Nodes a...,UDP,EU,P4,No Customer Impact,2022-12-21 21:32:00,2022-12-21 21:38:00,2022-12-21 21:33:00,NaN,...,6.0,Nirmala Patekar,YES,NO,No,YES,It was a blip,1,2022-12-21 21:32:00,NaN
108,INC-2812,[DE]: g5-dexcom-prod-us-5 - Spark Job nimbus-h...,UDP,US,P4,No Customer Impact,2022-12-21 22:10:00,2022-12-21 23:52:00,2022-12-21 22:11:00,2022-12-21 22:16:00,...,102.0,Pavan K,NO,NO,Yes,YES,SME has updated the TTL value and restarted th...,1,2022-12-21 22:10:00,2022-12-21 22:30:00

In [20]:
# Remove all DUPLICATE RECORDS from the DATAFRAME
df11.drop_duplicates(inplace=True)

In [21]:
df11.columns

Index(['Jira Ticket', 'Subject', 'Product', 'Location', 'Priority',
       'Customer Impacted', 'Date Time', 'Incident End', 'First Assignment',
       'Actioned Time', 'Ticket created on', 'TTD', 'TTE', 'TTAE', 'TTA',
       'TTR', 'Assignee', 'NAR', 'RNE', 'ETS', 'TSG', 'RCA', 'Total Alerts',
       'Incident Start time', 'Escalated Time'],
      dtype='object')

## 3. Check and Remove all DUPLICATE COLUMNS from the DATAFRAME

#### We have validated, their are no Duplicate columns in Dataframe

## 4. If your columns are numerical columns, perform the following steps

In [22]:
# 4. If your columns are numerical columns, perform the following steps:
#
#    - If the data is CONTINOUS, check with reference to domain whether the following parameters are valid or not:
#      1. Negative Numbers are allowed or not.
#      2. Positive Numbers are allowed or not.
#      3. Decimals are allowed or just Integers are Expected.
#      4. NULL Values are allowed or not.
#    
# #  Column  Non-Null Count    Dtype              Type                        Answer
#---  ------ --------------    -----         -------------------         -------------------
# 11  TTD      71 non-null     int64    ---> Numerical Continous (NO,YES,YES-Decimals or YES-INTEGER,NO-Null Values)
# 12  TTE      71 non-null     int64    ---> Numerical Continous (NO,YES,YES-Decimals or YES-INTEGER,NO-Null Values)
# 13  TTAE     71 non-null     int64    ---> Numerical Continous (NO,YES,YES-Decimals or YES-INTEGER,YES-Null Values)
# 14  TTA      71 non-null     int64    ---> Numerical Continous (NO,YES,YES-Decimals or YES-INTEGER,YES-Null Values)
# 15  TTR      71 non-null     int64    ---> Numerical Continous (NO,YES,YES-Decimals or YES-INTEGER,NO-Null Values)
#
#####################################################################################################################
#
#    - If the data is DISCRETE, check with reference to domain whether the following parameters are valid or not:
#      1. Negative Numbers are allowed or not.
#      2. Positive Numbers are allowed or not.
#      3. Decimals are allowed or just Integers are Expected.
#      4. Check whether the number falls in the specified Range defined by DOMAIN
# #  Column    Non-Null Count   Dtype              Type                          Answer
#---  ------   --------------   -----        -------------------            --------------------
# 17  NAR      71 non-null     object   ---> Numerical Discrete [0-1] (NO,YES,NO-DECIMAL, YES-INTEGER, Range(0-1)
# 18  RNE      71 non-null     object   ---> Numerical Discrete [0-1] (NO,YES,NO-DECIMAL, YES-INTEGER, Range(0-1)
# 19  ETS      71 non-null     object   ---> Numerical Discrete [0-1] (NO,YES,NO-DECIMAL, YES-INTEGER, Range(0-1)
# 20  TSG      71 non-null     object   ---> Numerical Discrete [0-1] (NO,YES,NO-DECIMAL, YES-INTEGER, Range(0-1)
# Note : Actual values are in Yes and No hence we will convert them into 1 and 0 respectively.

In [23]:
#Checking Negative Values are not present, incase if present then assiging Null value.
df11.loc[df11.TTD < 0] = np.nan
df11.loc[df11.TTE < 0] = np.nan
df11.loc[df11.TTAE < 0] = np.nan
df11.loc[df11.TTA < 0] = np.nan
df11.loc[df11.TTR < 0] = np.nan

In [24]:
# Chaning Value of TSG from YES & NO to 1 & 0
df11['NAR'] = df11['NAR'].replace({'NO': 0, 'YES': 1})
df11['RNE'] = df11['RNE'].replace({'NO': 0, 'YES': 1})
df11['ETS'] = df11['ETS'].replace({'NO': 0, 'YES': 1})
df11['TSG'] = df11['TSG'].replace({'NO': 0, 'YES': 1})

#### We have handled all the numerical continuous and discrete value till here

#### Replacing value with required values

In [25]:
# Replacing all Null and 0 in TTD with 1
df11.TTD.replace(0,1,inplace=True)
df11.TTD.replace(np.nan,1,inplace=True)

In [26]:
# Replacing all the Null values in TTE with 0
df11.TTE.replace(np.nan,1,inplace=True)

In [27]:
# Identifying unique values for TTAE
df11.TTAE.unique()

array([nan, 37., 12.,  3.,  6.,  7., 13.,  0.,  4., 18., 20.])

In [28]:
# Identifying unique values for TTA
df11.TTA.unique()

array([nan, 68., 10., 13., 51.,  0.,  6., 22.,  5.])

In [29]:
# Replacing all the 0 values in TTA with NUll Values
df11.TTA.replace(0,np.nan,inplace=True)

In [30]:
# Replacing all the 0 values in TTAE with Null Values
df11.TTAE.replace(0,np.nan,inplace=True)

In [31]:
df11.drop(df11[df11['Date Time'].isna()].index,inplace=True)

## Changing the Date Time column from String to Date Time format

In [32]:
df11['Date Time'] = pd.to_datetime(df11['Date Time'])
df11['Incident End'] = pd.to_datetime(df11['Incident End'])
df11['Incident Start time'] = pd.to_datetime(df11['Incident Start time'])
df11['Date'] = df11['Date Time'].dt.strftime('%m-%d-%Y')
df11['Date'] = pd.to_datetime(df11['Date'])
df11['Month'] = pd.DatetimeIndex(df11['Date Time']).month
df11['Day'] = pd.DatetimeIndex(df11['Date Time']).day
df11['Year'] = pd.DatetimeIndex(df11['Date Time']).year
df11['Quarter'] = pd.DatetimeIndex(df11['Date Time']).quarter
df11['Week'] = pd.DatetimeIndex(df11['Date Time']).week
df11['Weekday'] = pd.DatetimeIndex(df11['Date Time']).weekday
df11['Weekday'] = df11['Weekday'].apply(lambda x: calendar.day_name[x])
df11['Dayofyear'] = pd.DatetimeIndex(df11['Date Time']).dayofyear
df11['Weekofyear'] = pd.DatetimeIndex(df11['Date Time']).weekofyear
df11['date_ordinal'] = pd.to_datetime(df11['Date Time']).apply(lambda date: date.toordinal())
df11['Hours'] = df11['Date Time'].dt.hour

## Changing Data to Upper Case - Weekday

In [33]:
df11['Weekday'] = df11['Weekday'].apply(lambda name : name.upper())

In [34]:
# Identifying total numbers of Columns and Rows
print("Total # of Rows:",df11.shape[0])
print("Total # of Columns:",df11.shape[1])

Total # of Rows: 212
Total # of Columns: 36

In [35]:
df11['Incident Start time'] = pd.to_datetime(df11['Date Time']) - pd.to_timedelta(df11['TTD'], unit='m')

In [36]:
df11['Escalated Time'] = pd.to_datetime(df11['Date Time']) + pd.to_timedelta(df11['TTAE'], unit='m')

In [37]:
df11['Engage Time'] = pd.to_datetime(df11['Date Time']) + pd.to_timedelta(df11['TTE'], unit='m')

## Replacing Name of the Products NILE and UAM

In [38]:
df11.Product = df11.Product.str.replace("NILE","API")
df11.Product = df11.Product.str.replace("UAM","CAMS")

## Chaning data type from Object to Categorical

In [39]:
df11['Priority'] = pd.Categorical(df11['Priority'])
df11['Product'] = pd.Categorical(df11['Product'])
df11['Location'] = pd.Categorical(df11['Location'])
df11['Assignee'] = pd.Categorical(df11['Assignee'])

In [40]:
df_map = df11.filter(['Jira Ticket','Priority','Date Time','Engage Time','Incident End','ETS'])

In [41]:
df_map['ETS'] = df_map['ETS'].replace({0:'NO', 1:'YES'})
df_map['ETS']

0       No
1      Yes
2      Yes
3       No
4       No
      ...
125     No
126     No
127     No
128     No
129     No
Name: ETS, Length: 212, dtype: object

In [42]:
df_map.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 0 to 129
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Jira Ticket   212 non-null    object
 1   Priority      212 non-null    category
 2   Date Time     212 non-null    datetime64[ns]
 3   Engage Time   212 non-null    datetime64[ns]
 4   Incident End  212 non-null    datetime64[ns]
 5   ETS           212 non-null    object
dtypes: category(1), datetime64[ns](3), object(2)
memory usage: 10.3+ KB

In [43]:
df_map['Time Take to Respond'] = (df_map['Engage Time'] - df_map['Date Time'])/ timedelta(minutes=1)

In [44]:
df_map[df_map['Time Take to Respond'] < 0]

Empty DataFrame
Columns: [Jira Ticket, Priority, Date Time, Engage Time, Incident End, ETS, Time Take to Respond]
Index: []

In [45]:
df_map['Time Take to Resolve'] = (df_map['Incident End'] - df_map['Date Time'])/ timedelta(minutes=1)

In [46]:
df_map[df_map['Time Take to Resolve'] < 0]

Empty DataFrame
Columns: [Jira Ticket, Priority, Date Time, Engage Time, Incident End, ETS, Time Take to Respond, Time Take to Resolve]
Index: []

In [47]:
df_map.groupby('Priority').agg(Frequency=('Priority', 'size'),Max_Time_Respond=('Time Take to Respond','max'),Max_Time_Resolve=('Time Take to Resolve','max'))

          Frequency  Max_Time_Respond  Max_Time_Resolve
Priority
P1                1               1.0            1189.0
P3               11               2.0             617.0
P4              200               7.0            1581.0

In [48]:
df_map.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212 entries, 0 to 129
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jira Ticket           212 non-null    object
 1   Priority              212 non-null    category
 2   Date Time             212 non-null    datetime64[ns]
 3   Engage Time           212 non-null    datetime64[ns]
 4   Incident End          212 non-null    datetime64[ns]
 5   ETS                   212 non-null    object
 6   Time Take to Respond  212 non-null    float64
 7   Time Take to Resolve  212 non-null    float64
dtypes: category(1), datetime64[ns](3), float64(2), object(2)
memory usage: 13.6+ KB

In [49]:
df_unique_tkt = df_map.groupby('Jira Ticket').agg(Frequency=('Jira Ticket', 'size'),MTTE=('Time Take to Respond','mean'),TTR=('Time Take to Resolve','sum'),)

In [50]:
df_unique_tkt = df_unique_tkt.copy().reset_index()

In [51]:
df_unique_tkt['Efforts Spent Hours'] = round(((df_unique_tkt['TTR']+30)*2)/24,2)

In [52]:
df_unique_tkt.drop(['MTTE','TTR'], axis = 1,inplace=True)

In [53]:
df_map.columns

Index(['Jira Ticket', 'Priority', 'Date Time', 'Engage Time', 'Incident End',
       'ETS', 'Time Take to Respond', 'Time Take to Resolve'],
      dtype='object')

In [54]:
df_final = pd.merge(df_map,df_unique_tkt,on="Jira Ticket",how='left')

In [55]:
df_map1 = df_final.copy()

In [56]:
df_map2 = df_map1.drop_duplicates(subset=['Jira Ticket'], keep='first')

In [57]:
df_map2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 211
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jira Ticket           201 non-null    object
 1   Priority              201 non-null    category
 2   Date Time             201 non-null    datetime64[ns]
 3   Engage Time           201 non-null    datetime64[ns]
 4   Incident End          201 non-null    datetime64[ns]
 5   ETS                   201 non-null    object
 6   Time Take to Respond  201 non-null    float64
 7   Time Take to Resolve  201 non-null    float64
 8   Frequency             201 non-null    int64
 9   Efforts Spent Hours   201 non-null    float64
dtypes: category(1), datetime64[ns](3), float64(3), int64(1), object(2)
memory usage: 16.0+ KB

In [58]:
df_map3 = df_map2.copy().reset_index()
df_map3.drop(['index'], axis = 1,inplace=True)

In [59]:
df_map3

,Jira Ticket,Priority,Date Time,Engage Time,Incident End,ETS,Time Take to Respond,Time Take to Resolve,Frequency,Efforts Spent Hours
0,INC-2640,P4,2022-12-01 08:57:00,2022-12-01 08:57:00,2022-12-01 09:02:00,No,0.0,5.0,1,2.92
1,INC-2649,P4,2022-12-02 16:15:00,2022-12-02 16:16:00,2022-12-02 17:28:00,Yes,1.0,73.0,1,8.58
2,INC-2657,P3,2022-12-05 08:14:00,2022-12-05 08:14:00,2022-12-05 12:37:00,Yes,0.0,263.0,1,24.42
3,INC-2661,P4,2022-12-05 17:37:00,2022-12-05 17:38:00,2022-12-05 21:37:00,No,1.0,240.0,1,22.50
4,INC-2664,P4,2022-12-06 06:49:00,2022-12-06 06:49:00,2022-12-06 06:59:00,No,0.0,10.0,1,3.33
...,...,...,...,...,...,...,...,...,...,...
196,INC-2848,P4,2022-12-27 04:13:00,2022-12-27 04:20:00,2022-12-27 07:13:00,No,7.0,180.0,1,17.50
197,INC-2852,P4,2022-12-27 16:30:00,2022-12-27 16:31:00,2022-12-27 16:49:00,No,1.0,19.0,1,4.08
198,INC-2853,P4,2022-12-27 20:42:00,2022-12-27 20:43:00,2022-12-27 20:45:00,No,1.0,3.0,1,2.75
199,INC-2854,P4,2022-12-27 21:47:00,2022-12-27 21:48:00,2022-12-27 21:57:00,No,1.0,10.0,1,3.33
200,INC-2859,P4,2022-12-29 11:59:00,2022-12-29 12:00:00,2022-12-29 12:49:00,No,1.0,50.0,1,6.67

In [60]:
df_map3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jira Ticket           201 non-null    object
 1   Priority              201 non-null    category
 2   Date Time             201 non-null    datetime64[ns]
 3   Engage Time           201 non-null    datetime64[ns]
 4   Incident End          201 non-null    datetime64[ns]
 5   ETS                   201 non-null    object
 6   Time Take to Respond  201 non-null    float64
 7   Time Take to Resolve  201 non-null    float64
 8   Frequency             201 non-null    int64
 9   Efforts Spent Hours   201 non-null    float64
dtypes: category(1), datetime64[ns](3), float64(3), int64(1), object(2)
memory usage: 14.6+ KB

In [61]:
df_map3['Date Time'] = df_map3['Date Time'].astype('datetime64[s]')
df_map3['Engage Time'] = df_map3['Engage Time'].astype('datetime64[s]')
df_map3['Incident End'] = df_map3['Incident End'].astype('datetime64[s]')

In [62]:
df_map3.to_csv("MAP.csv",
                  index = None,
                  header=True)

In [63]:
(df_map1['Jira Ticket'].nunique())

201

In [64]:
len(df_map3)

201

In [65]:
if len(df_map3) == (df_map1['Jira Ticket'].nunique()):
    print("True")
else:
    print("False")

True

In [66]:
df_map3.columns

Index(['Jira Ticket', 'Priority', 'Date Time', 'Engage Time', 'Incident End',
       'ETS', 'Time Take to Respond', 'Time Take to Resolve', 'Frequency',
       'Efforts Spent Hours'],
      dtype='object')

In [67]:
df_map3['Time Take to Resolve'].sort_values(ascending=False).head()

104    1581.0
113    1189.0
25      617.0
71      366.0
10      358.0
Name: Time Take to Resolve, dtype: float64

In [68]:
df_map3['Time Take to Respond'].sort_values(ascending=False).head()

196    7.0
163    5.0
91     4.0
154    3.0
190    3.0
Name: Time Take to Respond, dtype: float64

In [69]:
df_map3['Time Take to Resolve'].sum()

15819.733333333334

In [70]:
df_map3['Efforts Spent Hours'].sum()

1858.1

In [71]:
#Total number of ticket -->
df_map3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jira Ticket           201 non-null    object
 1   Priority              201 non-null    category
 2   Date Time             201 non-null    datetime64[ns]
 3   Engage Time           201 non-null    datetime64[ns]
 4   Incident End          201 non-null    datetime64[ns]
 5   ETS                   201 non-null    object
 6   Time Take to Respond  201 non-null    float64
 7   Time Take to Resolve  201 non-null    float64
 8   Frequency             201 non-null    int64
 9   Efforts Spent Hours   201 non-null    float64
dtypes: category(1), datetime64[ns](3), float64(3), int64(1), object(2)
memory usage: 14.6+ KB

In [72]:
print("Total number of tickets :",len(df_map3))

Total number of tickets : 201

In [73]:
df_map3.groupby(by='Priority').agg(Count=('Priority','size'),MTTE=('Time Take to Respond','mean'),MTTR=('Time Take to Resolve','mean'),TTR=('Time Take to Resolve','sum'))

          Count      MTTE         MTTR           TTR
Priority
P1            1  1.000000  1189.000000   1189.000000
P3           11  0.909091   197.975758   2177.733333
P4          189  0.772487    65.888889  12453.000000

In [74]:
df_map3['ETS']

0       No
1      Yes
2      Yes
3       No
4       No
      ...
196     No
197     No
198     No
199     No
200     No
Name: ETS, Length: 201, dtype: object